
h1{
  font-family: Lucida Console;
}
h3{
  font-family: DFKai-SB;
}
hr.style1{
    border: 0;
    height: 0; 
    box-shadow: 0 0 10px 1px black;
    margin-top: 1em;
    margin-bottom: 1em;
}
iframe{
  margin-top: 2em;
  height: 640px;
  width: 640px;
}
.container{
  background-color: #FAB8AA;
}
#loading{
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}
#sub{
  position: relative;
  left: 65em;
}
